* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
}

@media (max-width: 1200px) {
    html {
        font-size: 9px;
    }
}

@media (max-width: 1000px) {
    html {
        font-size: 8px;
    }
}
@media (max-width: 780px) {
    html {
        font-size: 7px;
    }
}
@media (max-width: 600px) {
    html {
        font-size: 6px;
    }
}

body {
    font-family: 'Montserrat', sans-serif;
/*     margin: 2rem; */
    cursor: default;
}

/* HEADER */
/* ************************************************* */
.header {
    text-align: center;
    height: 60vh;
    background-image: linear-gradient( #8b000073, #00185852), url(./img/header_background_wide.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
}

.header__container {
    margin: auto;
    height: 80%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
@media (max-width: 600px) {
    .header__container {
        width: 95%;
    }
}


.kwota {
    align-self: flex-start;
    color: white;
    font-size: 3rem;
    padding: 1rem;
    box-shadow: 0 0 1rem #d9ffdb;
    border-radius: 100px;
    flex: 0 0 20%;
}
@media (max-width: 1000px) {
    .kwota {
        flex: 0 0 25%;
    }
}
@media (max-width: 600px) {
    .kwota {
        flex: 0 0 35%;
    }
}

.plus {
    background-image: linear-gradient(to bottom, rgba(80, 199, 0, 0.247), rgba(20, 168, 0, 0.644))
}

.minus {
    background-image: linear-gradient(to bottom, rgba(199, 0, 0, 0.247), rgba(168, 0, 0, 0.644))

}

.kwota__caption {
    font-size: .6em;
}
.header__textbox {
    color: white;
    font-size: 2rem;
/*     padding: 2rem;
    margin: 0 2rem;
    border-radius: .2rem;
    border: .2rem solid white; */
    flex: 0 0 30%;
}

.header__textbox h2, .header__textbox h1 {
    font-weight: 400;
}


/* WPROWADZANIE DANYCH*/
/*  &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& */

.section-wprowadzanie {
/*     border-top: 1px solid rgb(255, 255, 255); */
    padding: 2rem 0;
    background-color: #491e1edc;
}

.wprowadzanie-box {
    display: flex;
    max-width: 900px;
    margin: 0 auto;
    justify-content: center;
}
.wprowadzanie-opis {
    outline: none;
    order: 0;
    font-size: 2rem;
    width: 60%;
    padding: 1rem 2rem;  
    border: none; 
    border-right: .1rem solid gray;
    transition: all .1s ease-in;
}

.wprowadzanie-kwota,
.wprowadzanie-kwota:link {
    border: none;
    display: block;
    background-color: rgb(255, 255, 255);
    font-size: 2rem;
    padding: 1rem 2rem;
    color: rgb(1, 0, 66);
    width: 25%;
    transition: all .1s ease-in;
}

.wprowadzanie-kwota:hover, .wprowadzanie-opis:hover {
    background-color: rgb(231, 230, 230);
}

.wprowadzanie-kwota:hover {
    outline: none;
}

.wprowadzanie-btn-box {
    display: flex;
    flex-direction: column;
    order: 3;
    width: 8%;
}

.wprowadzanie-btn {
    font-size: 2rem;
    padding: 0 2rem;
    outline: none;
    cursor: pointer;
    display: flex;
}
.wprowadzanie-btn p {
    margin: auto;
    text-align: center;
}


/* PRZYCHODY WYDATKI */
/* ****************************************************************** */

.section-dol {
    padding-top: 2rem;
    background-image:linear-gradient(to right bottom, rgb(255, 255, 255), rgb(224, 224, 224));
    min-height: 27.7vh;
    display: flex;
    font-weight: 300;
}

.tabela-flex {
    min-width: 95vw;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    text-align: center;
    font-size: 2rem;
}

.tabela {
    width: 48%;
}

.przychody {}

.wydatki {}

.tabela-title {
    font-size: 3rem;
    margin: 0 auto;
    width: 100%;
    border-bottom: 2px solid rgb(1, 0, 66);
    margin-bottom: 1rem;
}

.wydatki {
    color: #960000;
}

.przychody {
    color: #0c8b01;
}

li {
    display: flex;
    list-style-type: none;
    border-bottom: 1px solid gray;
    justify-content: space-between;
    height: 4rem;
    align-items: center;
    text-align:left;
    min-height: fit-content;
}

.lista-span-kwota {
    margin-right: 1rem;
}

.lista-span-kwota::after {
    content: ' zł';
}

.lista-span-opis {
}
.lista-span-opis::after,
.lista-span-opis::before {
    content: "\"";
}

.lista-span-delete {
    font-size:1rem;
    display: flex;
    height: 3rem;
    width: 3rem;
    cursor: pointer;
    border: 1px solid rgb(34, 34, 34);
    color: rgb(34, 34, 34);
    opacity: 0;
    background-color: rgba(122, 0, 0, 0.123);
    border-radius: 100px;
    transition: opacity .2s ease-in,
    background-color .1s ease-out;
}
.lista-span-delete:hover {
    background-color: rgba(109, 0, 0, 0.233);
}
.lista-span-delete p {
    margin: auto;
}

.aktywny {
    opacity: 1;
}