:root {
    --color-outline:#5B9DD9;
    --header-height: 60vh;
}

@media (max-width: 600px) {
    :root {
        --header-height: 60vh;
    }
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
}

@media (max-width: 1200px) {
    html {
        font-size: 9px;
    }
}

@media (max-width: 1000px) {
    html {
        font-size: 8px;
    }
}
@media (max-width: 780px) {
    html {
        font-size: 7px;
    }
}
@media (max-width: 600px) {
    html {
        font-size: 6px;
    }
}

body {
    font-family: 'Montserrat', sans-serif;
/*     margin: 2rem; */
    cursor: default;
   background-color: rgb(235, 235, 235);
}

/* HEADER */
/* ************************************************* */
.header {
    text-align: center;
    height: var( --header-height);
    background-image: linear-gradient( #8b000073, #00185852), url(img/header_background_wide.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    perspective: 1px;
}
@media (max-width: 600px) {
    .header {
        background-image: linear-gradient( #8b000073, #00185852), url(img/header_background_wide-mobile.jpg);
    }
}


.header__container {
    margin:2rem auto;
    height: 50%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
@media (max-width: 600px) {
    .header__container {
        width: 95%;
    }
}


.kwota {
    align-self: flex-start;
    color: white;
    font-size: 3rem;
    padding: 1rem;
    box-shadow: 0 0 1rem #d9ffdb;
    border-radius: 100px;
    flex: 0 0 20%;
}
@media (max-width: 1000px) {
    .kwota {
        flex: 0 0 25%;
    }
}
@media (max-width: 600px) {
    .kwota {
        flex: 0 0 35%;
    }
}

.plus {
    background-image: linear-gradient(to bottom, rgba(80, 199, 0, 0.247), rgba(20, 168, 0, 0.644))
}

.minus {
    background-image: linear-gradient(to bottom, rgba(199, 0, 0, 0.247), rgba(168, 0, 0, 0.644))
}

.kwota__caption {
    font-size: .6em;
}
.header__textbox {
    color: white;
    font-size: 2rem;
/*     padding: 2rem;
    margin: 0 2rem;
    border-radius: .2rem;
    border: .2rem solid white; */
    flex: 0 0 30%;
}

.header__textbox h2, .header__textbox h1 {
    font-weight: 400;
}

/* Wykresy */
/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
.btn-wykres-przychody {
    position: absolute;
    top: var( --header-height);
    left: 10vw;
    transform: translateY(-100%);
    padding: .5rem;
    z-index: 5;
}

.btn-wykres-wydatki {
    position: absolute;
    top: var( --header-height);
    right: 10vw;
    transform: translateY(-100%);
    padding: .5rem;
    z-index: 5;
}

.wykres {
    position: absolute;
    top: var( --header-height);
    transform: translateY(-100%);
    height: 50%;
    width: 47.5vw;
    background-color: transparent;
    display: flex;
    align-items: flex-end;
    justify-content: start;
}

.wykres-przychody {
    left: 1vw;
}

.wykres-wydatki {
    right: 1vw;
}

.wykres div {
    padding: .5rem;
    font-size: 10px;
    text-align: left;
    color: white;
    border: 1px solid whitesmoke;
    border-bottom: none;
    border-radius: .5rem .5rem 0 0;
/*     writing-mode: vertical-rl;
    text-orientation: mixed; */
    margin: 0 .4rem;
    flex: 0 1 10%;
  }
  @media (max-width: 600px) {
    .wykres div {
        flex: 0 1 20%;
    }
}

  .wykres-wydatki div {
    background-image: linear-gradient(to bottom, rgba(199, 0, 0, 1), rgba(173, 158, 158, 1))

  }

  .wykres-przychody div {
    background-image: linear-gradient(to bottom, rgba(80, 199, 0, 1), rgba(168, 180, 166, 1))   
  }

/* WPROWADZANIE DANYCH*/
/*  &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& */

.section-wprowadzanie {
/*     border-top: 1px solid rgb(255, 255, 255); */
padding: 2rem 0;
    background-color: #612929dc;
    border-bottom: 1px solid rgb(94, 94, 94);
}

@media (max-width: 700px) {
    .section-wprowadzanie {
        padding: 0;
        border-bottom: 1px solid gray;
    }
}


.wprowadzanie-box {
    display: flex;
    max-width: 900px;
    margin: 0 auto;
    justify-content: center;
}
.wprowadzanie-opis,
.wprowadzanie-opis:link {
    outline: var(--color-outline);
    order: 0;
    font-size: 2rem;
    width: 60%;
    padding: 1rem 2rem;  
    border: none; 
    border-right: .1rem solid gray;
    transition: all .1s ease-in;
}
.wprowadzanie-opis:focus {
    border: 2px solid var(--color-outline);
}
.wprowadzanie-kwota,
.wprowadzanie-kwota:link {
    outline: var(--color-outline);
    display: block;
    background-color: rgb(255, 255, 255);
    font-size: 2rem;
    padding: 1rem 2rem;
    color: rgb(1, 0, 66);
    width: 30%;
    transition: all .1s ease-in;
}
.wprowadzanie-kwota:focus {
    border: 2px solid var(--color-outline);
}


.wprowadzanie-kwota:hover, .wprowadzanie-opis:hover {
    background-color: rgb(231, 230, 230);
}


.wprowadzanie-btn-box {
    display: flex;
    flex-direction: column;
    order: 3;
    width: 10%;
}

@media (max-width: 700px) {
    .wprowadzanie-btn-box {
        width: 10%;
    }
}

.wprowadzanie-btn {
    font-size: 2rem;
    cursor: pointer;
    display: flex;
    outline: var(--color-outline);
}
@media (max-width: 700px) {
    .wprowadzanie-btn {
        height: 30px;
    }
}
.wprowadzanie-btn:focus {
    border: 2px solid var(--color-outline);
}

.wprowadzanie-btn p {
    margin: auto;
    text-align: center;
    outline: none;
}




.zle-dane {
    border: 1px solid red;
    background:rgb(255, 179, 179);
}

/* PRZYCHODY WYDATKI */
/* ****************************************************************** */

.section-dol {
    padding-top: 2rem;
    padding-bottom: 2rem;
   background-color: rgb(235, 235, 235);
  /*   background-image:linear-gradient(to right bottom, rgb(255, 255, 255), rgb(224, 224, 224)); */
/*     min-height: 30vh; */
    display: flex;

}
@media (max-width: 600px) {
    .section-dol {
/*         min-height: 30vh; */
    padding-top: 3rem;
    padding-bottom: 3rem;
    }
}


.tabela-flex {
    min-width: 95vw;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    text-align: center;
    font-size: 2rem;
}

.tabela {
    width: 49%;
}


.tabela-title {
    font-size: 3.5rem;
    margin: 0 auto;
    width: 40%;
    margin-bottom: 3rem;
    font-weight: 200;
/*     border-bottom: 1px solid currentColor; */
}

.wydatki {
    color: #960000;
}

.przychody {
    color: #0c8b01;
}

li {
    display: flex;
    list-style-type: none;
    border-bottom: 1px solid gray;
    justify-content: start ;
    height: 4rem;
    align-items: center;
    text-align:left;
    min-height: fit-content;
    font-weight: 400;
}

.lista-span-kwota {

}

/* .lista-span-kwota::after {
    content: ' zł';
} */

.lista-span-opis {
    margin-right: auto;
    margin-left: auto;
}
.lista-span-opis::after,
.lista-span-opis::before {
    content: "\"";
}

.lista-span-delete {
    font-size: 1rem;
    display: flex;
    height: 3rem;
    width: 3rem;
    cursor: pointer;
    border: 1px solid rgb(138, 138, 138);
    color: /* rgb(34, 34, 34); */ rgb(255, 255, 255);
    opacity: 0;
    background-image: radial-gradient(rgba(255, 0, 0, 0.493),rgba(255, 0, 0, 0.493));
    border-radius: 100px;
    transition: opacity .1s ease-in,
    background-color .1s ease-in;
}
@media (max-width: 500px) {
    .lista-span-delete {
        height: 2.5rem;
        width: 2.5rem;
        font-size: 1.2rem;
    }
}
.lista-span-delete:hover {
    background-color: rgba(0, 0, 0, 0.842);
}
.lista-span-delete p {
    margin: auto;
}

.aktywny {
    opacity: 1;
}